Repository securesecrets/shadejs: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint

lefthook.yml:

# To make sure everything is fine before reaching github
#

commit-msg:
  parallel: true
  commands:
    # make sure we are using conventional commits
    # https://www.conventionalcommits.org/en/v1.0.0
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
 parallel: true
 commands:
   type-check:
     glob: '*.{ts,tsx}'
     run: yarn typecheck
   eslint:
     glob: "*.{js,ts,vue}"
     run: yarn lint:fix {staged_files}

pre-push:
  parallel: true
  commands:
    test:
      run: yarn test

chore: build and node upgrade on yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  dist/index.d.ts
  dist/shadejs.cjs
  dist/shadejs.js
  package.json
  shadejs-v0.0.2.tgz
  yarn.lock
Due: type-check, eslint

feat: add github links to package
  package.json
Due: none

feat: changeset for initial release
  .changeset/happy-jeans-relax.md
Due: none

chore: publish fixes
  .github/workflows/publish.yml
  package.json
Due: none

Update package.json
  package.json
Due: none

Update publish.yml
  .github/workflows/publish.yml
Due: none

chore: fix publish issues
  .github/workflows/publish.yml
Due: none

chore: changesets public
  .changeset/config.json
Due: none

chore: package name change
  package.json
Due: none

fix: vitepress build issues, package description update
  .changeset/tender-pants-sin.md
  README.md
  docs/.vitepress/config.ts
  package.json
Due: type-check, eslint

chore: fix links
  README.md
  docs/getting-started.md
Due: none

fix: vitepress logo issue
  docs/index.md
  docs/public/shadejs.svg
Due: none

fix: logo link on main readme
  README.md
Due: none

fix: dark background on logo
  .changeset/great-experts-hang.md
  README.md
  docs/public/shadejsBlackBackground.svg
Due: none

add types field to exports
  package.json
Due: none

docs: changeset contributing guide
  docs/CONTRIBUTING.md
Due: none

fix(package.json): add missing types field in package.json#exports
  .changeset/slimy-jokes-pull.md
Due: none

fix(index.d.ts): this adds the export to BatchQueryParsedResponse-& Item for usage
  dist/index.d.ts
Due: type-check, eslint

feat: type exports added
  .changeset/curvy-tomatoes-drop.md
  src/index.ts
  src/types/contracts/batchQuery/index.ts
  src/types/contracts/index.ts
  src/types/contracts/oracle/index.ts
  src/types/contracts/shared/index.ts
  src/types/contracts/snip20/index.ts
  src/types/contracts/swap/index.ts
  src/types/index.ts
Due: type-check, eslint

docs: clarity on router error handling
  docs/calculations/routing.md
Due: none

feat: batch pair config
  src/contracts/services/swap.ts
  src/types/contracts/swap/model.ts
Due: type-check, eslint

chore: update duplicate response type
  src/types/contracts/swap/response.ts
Due: type-check, eslint

feat: added function heading comments
  src/contracts/services/swap.ts
Due: type-check, eslint

chore: add changeset
  .changeset/itchy-jobs-end.md
Due: none

feat: changeset
  .changeset/many-worms-smash.md
Due: none

refactor: fix duplicate type exports for contract data
  .changeset/shaggy-tables-obey.md
  src/types/contracts/shared/index.ts
  src/types/contracts/swap/response.ts
Due: type-check, eslint

fix: dao fee parse bug, add docs and tests
  docs/queries/swap.md
  src/contracts/services/swap.test.ts
  src/contracts/services/swap.ts
  src/test/mocks/swap/batchPairsConfigParsed.ts
  src/test/mocks/swap/batchPairsConfigResponseUnparsed.ts
Due: type-check, eslint

terminology change
  src/contracts/services/swap.ts
Due: type-check, eslint

feat: pair info query
  src/contracts/services/swap.ts
Due: type-check, eslint

feat: dshd messages wip
  src/contracts/definitions/derivativeShd.ts
  src/contracts/definitions/index.ts
  src/contracts/services/derivativeShd.ts
  src/test/mocks/derivativeShd/contractStatusResponse.json
  src/test/mocks/derivativeShd/feeResponse.json
  src/types/contracts/derivativeShd/model.ts
  src/types/contracts/derivativeShd/response.ts
Due: type-check, eslint

refactor: typescript update for batch query params
  .changeset/wild-donuts-clap.md
  dist/index.d.ts
  dist/shadejs.cjs
  dist/shadejs.js
  docs/queries/batch-query.md
  src/contracts/definitions/batchQuery.test.ts
  src/contracts/definitions/batchQuery.ts
  src/contracts/services/batchQuery.test.ts
  src/contracts/services/batchQuery.ts
  src/contracts/services/swap.ts
  src/types/contracts/batchQuery/model.ts
  src/types/contracts/batchQuery/response.ts
Due: type-check, eslint

refactor: typescript update for batch query params
  .changeset/wild-donuts-clap.md
  docs/queries/batch-query.md
  src/contracts/definitions/batchQuery.test.ts
  src/contracts/definitions/batchQuery.ts
  src/contracts/services/batchQuery.test.ts
  src/contracts/services/batchQuery.ts
  src/contracts/services/swap.ts
  src/types/contracts/batchQuery/model.ts
  src/types/contracts/batchQuery/response.ts
Due: type-check, eslint

chore: remove dist directory from repo
  .gitignore
  dist/index.d.ts
  dist/manifest.json
  dist/shadejs.cjs
  dist/shadejs.js
Due: type-check, eslint

fix: handle null price ratio
  .changeset/perfect-kangaroos-hunt.md
  docs/queries/swap.md
  src/contracts/services/swap.ts
  src/lib/swap/router.ts
  src/types/contracts/swap/model.ts
Due: type-check, eslint

fix: stableswap unbound function
  .changeset/short-worms-serve.md
  src/lib/swap/stableswapCurve/stable.ts
Due: type-check, eslint

feat: move vite
  package.json
Due: none

chore: add changeset
  .changeset/clean-pens-fry.md
Due: none

chore: add lint ignore to config file
  vite.config.js
  vite.config.ts
Due: type-check, eslint

chore: remove vite.config.js
  vite.config.js
Due: eslint

feat: snip20 token info batch query
  .changeset/slow-carpets-bake.md
  docs/queries/snip20.md
  src/contracts/services/snip20.test.ts
  src/contracts/services/snip20.ts
  src/test/mocks/snip20/batchQueryTokensInfoParsed.ts
  src/test/mocks/snip20/batchQueryTokensInfoUnparsed.ts
  src/types/contracts/snip20/model.ts
Due: type-check, eslint
